body{
	margin:0;
	font-family:  'Kaushan Script', cursive;
background:url('images/4.2.jpg') no-repeat center center fixed;
background-size: cover;


}


#wrapper{
width: 90%;
height: auto;
margin: 0 auto;
padding: 12px;


}

#title {
font-size: 48px;

}  
#platillos {
	width:100%;
	height:auto;



}

#one{

width:31%;
display:inline-block;
padding:12px;
}

#two{
	
width:31%;
display:inline-block;
padding:12px;
}
	


#three{
width:31%;
display:inline-block;
padding:12px;
}




#one .circle-image{


	width:400px;
	height: 400px;
	border-radius:400px;
	background:url('images/2.2.jpg') no-repeat center center;
	
}


#two .circle-image{

	
	width:400px;
	height: 400px;
	border-radius:200px;
	background:url('images/1.2.jpg') no-repeat center center;

	
}


#three .circle-image{

	
	width:400px;
	height: 400px;
	border-radius:200px;
	background:url('images/3.2.jpg') no-repeat center center;
	
}
